/*
Student Info: Name=Lo,WeiShun , ID= 13108
Subject: CS557_HWNo3_Summer_2015
Author: raliclo
Filename: hp.css.css
Date and Time: Feb 21, 2016 3:56:58 PM
Project Name: CS557-HW3-13108-Weishun
*/
/* 
    Created on : Feb 21, 2016, 3:56:58 PM
    Author     : raliclo
*/

*{
    font-family: Myriad Pro;
    overflow: hidden; 
    text-overflow:ellipsis;
}

body {
    background-color: bisque;
}

/*Nav-bar*/
.nav-container{
    width : 100%;
    height : 10%;
    border-radius: 5%;
    /*Color*/
    background-image: linear-gradient(to right,lightsteelblue,lightcyan,lightsteelblue);
}

.navlist {
    display:inline-table;
    /*background-color: blueviolet;*/
    background-image: linear-gradient(to right,lightblue,lightgreen,lightyellow);
    border-radius: 5%;
    border-style: double;
    width: calc(18%);
}


/*Desktop View*/
@media screen and (min-width: 480px) {
    .scn-resp {
         display:inline-block;
         border-radius: 5%;
         border-style: ridge;
         border-width: 0.01em;
         border-color: black;
         margin-top: 0.2%;
    }
    .main-section{
        /*Layout*/
        margin-left: 1%;
        height : 73vh;
        width : 67%;
        /*Color*/
        background-image: linear-gradient(to right,#d8ecfd,#dfd,#e6e6fa);
    }
    .right-side{
        /*Layout*/
        height : 83.5vh;
        width :15%;
        float:right;
        /*Color*/
        background-image: linear-gradient(to right,lightcyan,lightyellow);
    }
    .left-side{        
        /*Layout*/
        height : 83.5vh;
        width: 15%;
        float:left;
        /*Color*/
        background-image: linear-gradient(to right,lightblue,blanchedalmond,lightgrey);
    }
}
/*Mobile View*/
@media screen and (max-width: 480px) {
    .nav-container{
        height : 25vh;
        overflow-y: scroll
    }
    .navlist {
        width: calc(80%);
    }
    .scn-resp {
        border-radius: 5%;
        font-size: calc(60%);
    }
    .main-section{
        height: 45vh;
        overflow-y: scroll;
        /*Color*/
        background-image: linear-gradient(to right,#d8ecfd,#dfd,#e6e6fa);
    }
    .right-side{
        float:top;
        height: 10vh;
        /*Color*/
        background-image: linear-gradient(to right,lightcyan,lightyellow);
    }
    .left-side{
        height: 8vh;
        /*Color*/
        background-image: linear-gradient(to right,lightblue,blanchedalmond,lightgrey);
    }
}

aside {
    /*Layout*/
    border-radius: 5%;
    height :4vh;
    background-color: grey;

    /*Text Control*/
    text-align: center;
    font-size: calc(60%);
        
    /*Color*/
     background-image: linear-gradient(to right,lightsteelblue,blanchedalmond,lightslategrey);

}

footer {
    /*Layout*/
    border-radius: 5%;
    height :4vh;
    
    /*Text Control*/
    text-align: center;
    font-size: calc(60%);
    
    /*Color*/
     background-image: linear-gradient(to right,lightslategrey,blanchedalmond,lightsteelblue);
}