doctype html

head
  title Signup Confirmation
  link(rel='stylesheet', type='text/css', href='./css/signup.css')
  script(src='./js/signup.js', type='text/javascript')
| 'Thank you for signing up for our service!'
hr
|         New record added :
br
#showcustomer
hr
button(onclick="location.href = '/listall'") Click
|  to get history of all successfully entered customer
hr
button(onclick="location.href = '/'") Return to sign-in
