doctype html
head
  title List-customers
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', type='text/css', href='./css/signup.css')
//  link(rel='stylesheet', type='text/css', href='./css/listcustomers.css')

script(src='./js/signup.js', type='text/javascript')

section
  h1  List all customers 
  table#customerlist
  script(src='./js/listcustomers.js', type='text/javascript')
  hr
  div
      button(onclick="location.href = '/'") Return to sign-in
